
<div class="container">
  <%= simple_form_for @tool do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.input :description, as: :text %>
    <%= f.input :price, as: :string %>
    <div class="form-group">
      <%= f.label :category, "Select a Category", class: "form-label" %>
      <%= f.collection_select :category, Tool::CATEGORIES, :to_s, :to_s, {}, { class: "form-select mb-2" } %>
    </div>
    <%= f.input :address,
       input_html: {data: {address_autocomplete_target: "address"}},
       wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
     %>
    <%= f.input :available_from,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :available_until,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add Tool",class: 'btn-submit mt-3'%>
  <% end %>
  <%= link_to "Cancel", tools_path, data: {
    controller: "modals",
    action: "modals#close"
  }, class: "cancel-button" %>

</div>
