<div class="container">
  <%= simple_form_for @tool do |f| %>
    <%= f.input :name, as: :string %>
    <%= f.collection_select :category, Tool::CATEGORIES, :to_s, :to_s,
      :prompt => "Select tool category"
    %>
    <%= f.input :description, as: :text %>
    <%= f.input :price, as: :string %>
    <%= f.input :address, as: :string %>
    <%= f.input :available_from,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :available_until,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add Tool",class: 'btn-submit mt-3'%>
  <% end %>
  <br>

</div>
