<h1>Welcome to ToolShare From Home Page</h1>

<!-- stand in div for search bar, to be removed -->
<div class="container search-bar d-flex flex-row-reverse align-items-center">
    <%= link_to "Search", tools_path, class:"btn-primary"%>
</div>

<div class="d-flex mx-auto justify-content-center">
  <%= link_to "Add A Tool", user_signed_in? ? new_tool_path : new_user_session_path, class:"btn-primary" %>
</div>

<div class="container">
  <div class="grid backing">
    <% if @tools.empty? %>
      <p>No tools available</p>
    <% else %>
      <% @tools.each do |tool| %>
        <%= link_to tool_path(tool) do%>
          <div class="card-tool">
            <% if tool.images.attached? %>
              <%= cl_image_tag tool.images.first.key, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <i class="fa-solid fa-user"></i>
            <% end %>
            <div class="card-tool-info">
              <div>
                <h2><%= tool.name %></h2>
                <p><%= tool.description %></p>
                <i class="fa-solid fa-location-pin location"></i> <%= tool.address %>
              </div>
              <div class="card-tool-pricing">
                <h3>£<%= tool.price %></h3>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
