<div class="banner" style="margin-top:-20px; padding:50px; width:100%; height:400px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hi-spec.com/cdn/shop/articles/tendsupplies-empower-workshop-with-tend-hand-tools_800x800.jpg);">
  <div class="container mt-5">
    <div class="home-text">
      <h1>Tool De Share</h1>
      <h3>Get paid for your stashed tools</h3>
    </div>
  </div>
  <div class="row justify-content-center">
  <br>
  <div class="col-sm-8 my-3">
    <%= form_with url: tools_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "tool name"
        %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "category"
        %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "location"
        %>
      <%= submit_tag "Search", name: "", class: "search btn-primary" %>
    <% end %>
  </div>
</div>
</div>
<!-- stand in div for search bar, to be removed -->


<div class="d-flex mx-auto mt-4 justify-content-center">
  <%= link_to "Add A Tool", user_signed_in? ? new_tool_path : new_user_session_path, class:"btn-primary" %>
</div>



<div class="container">
  <div class="grid backing">
    <% if @tools.empty? %>
      <p>No tools available</p>
    <% else %>
      <% @tools.each do |tool| %>
        <%= link_to tool_path(tool) do%>
          <div class="card-tool">
            <% if tool.images.attached? %>
              <%= cl_image_tag tool.images.first.key %>
            <% else %>
              <%= image_tag tool.image_url %>
            <% end %>
            <div class="card-tool-info">
              <div>
                <h2><%= tool.name %></h2>
                <p><%= tool.description %></p>
                <i class="fa-solid fa-location-pin location"></i> <%= tool.address %>
              </div>
              <div class="card-tool-pricing">
                <h3>£<%= tool.price %></h3>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
