
<h1>Welcome to ToolShare</h1>

<%= link_to "Add A Tool", user_signed_in? ? new_tool_path : new_user_session_path %>

<ul class="list_group">
  <% if @tools.empty? %>
    <p>No tools available</p>
  <% else %>
    <% @tools.each do |tool| %>
      <%= link_to tool_path(tool) do%>
        <div class="card">
          <img src="<%= tool.image %>" style="width:200px;" alt="<%= tool.name %>">
          <%= tool.name %> <br>
          £<%= tool.price %> per hour <br>
          <%= tool.address %> <br>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
