
<h1>Welcome to ToolShare</h1>

<ul class="list_group">
  <% if @tools.empty? %>
    <p>No tools available</p>
  <% else %>
    <% @tools.each do |tool| %>
      <%= link_to tool_path(tool) do%>
        <div class="card">
          <% tool.images.each do |image| %>
            <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <%= tool.name %> <br>
          £<%= tool.price %> per hour <br>
          <%= tool.address %> <br>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
