<div class="tool-show-container">
  <!-- Left Section: Tool Details -->
  <div class="tool-details">
    <%= link_to "◀ Search results", tools_path, class: "btn-primary-sml", id:"back-button" %>
    <h1 id="tool-title"><%= @tool.name %></h1>
    <div class="tool-info">
      <!-- Tool Image -->
      <div class="tool-image">
        <% @tool.images.each do |image| %>
          <%= cl_image_tag image.key, height: 300, width: 300, class: "tool-image-tag" %>
        <% end %>
      </div>

      <!-- Tool Information -->
      <div class="tool-description">
        <h2><%= @tool.name %> <span class="tool-price">£<%= @tool.price %></span></h2>
        <p class="secondary-heading">Description</p>
        <%= @tool.description %>

        <!-- Collection Info -->
        <div class="collection-info">
          <div class="collection-address">
            <p class="secondary-heading">ADDRESS<p>
            <%= @tool.address %>
          </div>
          <div class="collection-time">
            <p class="secondary-heading">Availability<br>
            <p>
              From: <%= @tool.available_from %><br>
              Until: <%= @tool.available_until %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="action-buttons">
         <% if @tool.user_id == current_user.id %>
        <%= link_to "Cancel listing", tool_path(@tool), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "btn-primary" %>
        <%= link_to 'Edit Listing', edit_tool_path(@tool), class:"btn-primary"%>
      <% else %>
        <%= link_to 'Make Booking', new_tool_booking_path(@tool), class:"btn-primary"%>
        <%= link_to 'Contact lender', new_tool_booking_path(@tool), class:"btn-primary"%>
      <% end %>
    </div>
  </div>

  <!-- Right Section: Map -->
  <div class="tool-map">
    <div style=" width:100%; height:100%; object-fit:cover; border-radius: 10px; background-color: black;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
