<div class="container backing">
  <div class="card-tool">
    <h1><%= @tool.name %></h1>
    <p>Listed by <strong><%= @tool.user.username %></strong></p>
    <% @tool.images.each do |image| %>
      <%= cl_image_tag image.key, height: 300, width: 400 %>
    <% end %>
    <div class="card-tool-info">
      <p><strong>Category</strong> <%= @tool.category %></p>
      <p><%= @tool.description %></p>
      <p><%= @tool.price %></p>
      <p><strong>Available from</strong> <%= @tool.available_from %></p>
      <p><strong>Available until</strong> <%= @tool.available_until %></p>
      <p><strong>Collection address</strong> <%= @tool.address %></p>
      <div class="d-flex justify-content-between">
         <%= link_to "Back to listings", root_path, class: "btn-primary" %>
         <% if @tool.user_id == current_user.id %>
            <%= link_to "Cancel listing", tool_path(@tool), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this listing?" }, class: "btn-primary" %>
        <% else %>
          <%= link_to 'Make Booking', new_tool_booking_path(@tool), class:"btn-primary"%>
        <% end %>
      </div>
      <div class="container d-flex gap-2">
         <%= link_to 'Add Booking', new_tool_booking_path(@tool), class:"btn-primary", data: { turbo_frame: "modal" } %>
        <%= link_to 'Edit Tool', edit_tool_path(@tool), class:"btn-primary"%>
      </div>
    </div>
  </div>
</div>
