 <%= link_to "Back to tools", tools_path %>
<p>This page will come alive when UI design is available</p>

<div class="container backing">
  <div class="card-tool">
    <h1><%= @tool.name %></h1>
    <% @tool.images.each do |image| %>
      <%= cl_image_tag image.key, height: 300, width: 400 %>
    <% end %>
    <div class="card-tool-info">
      <p><strong>Category</strong> <%= @tool.category %></p>
      <p><%= @tool.description %></p>
      <p><%= @tool.price %></p>
      <p><strong>Avialable from</strong> <%= @tool.available_from %></p>
      <p><strong>Available until</strong> <%= @tool.available_until %></p>
      <p><strong>Collection address</strong> <%= @tool.address %></p>
      <%= link_to 'Add Booking', new_tool_booking_path(@tool), class:"btn-primary"%>
    </div>
  </div>
</div>
