<h1>Show Page</h1>

<p>This page will come alive when UI design is available</p>
<h1><%= @tool.name %></h1>
<p><%= @tool.description %></p>
<p><%= @tool.price %></p>
<p><%= @tool.available_from %></p>
<p><%= @tool.available_until %></p>
