<h1>Your bookings</h1>

<div class="container">
  <div class="cards">
    <% @bookings.each do |booking| %>
    <div class="card">
      <h5><%= booking.tool.name.upcase %> Booking</h5>
      <% booking.tool.images.each do |image| %>
        <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
      <% end %> <br>
      Start date: <%= booking.start_date %> <br>
      End date: <%= booking.end_date %> <br>
      Price: £<%= booking.price %> per hour <br>
      <%= link_to "View booking", tool_booking_path(booking.tool_id, booking.id) %> <br>
      <%= link_to "Edit booking", edit_tool_booking_path(booking.tool_id, booking.id) %> <br>
    </div>
    <% end %>
  </div>
</div>
