 <%= link_to "Back to bookings", bookings_path %>
<div class="container backing">
  <div class="card-booking">
    <img src="<%= @booking.tool.image %>" style="width:200px;" alt="<%= @booking.tool.name %>">
    <div class="card-booking-info">
      Start date: <%= @booking.start_date %>
      End date: <%= @booking.end_date %>
      Price: £<%= @booking.tool.price %> per hour
      <i class="fa-solid fa-location-pin location"></i><%= @booking.tool.address %>
      <%= link_to "Edit booking", edit_tool_booking_path(@booking.tool_id, @booking.id), class:"btn-primary-sm" %>
    </div>
  </div>
</div>
